<div class="app__header">
  <div class="app__header--title">Cool Jobs</div>
</div>
<div class="app__body">
  <div class="card__Container">
    <div class="card__Comp">
      <div class="card">
        <h1>😎 Find a cool job! 😎</h1>  
        <div><span>Filter by job title: </span><input type="text" [(ngModel)]="searchText"></div>
        <div><span>Filter by industry: </span><input type="text" [(ngModel)]="searchText2"></div>
        <div><span>Filter by sector: </span>
          <select [(ngModel)]="searchText3">
            <option selected value=""> -- select one -- </option>
            <option>Public</option>
            <option>Private</option>
          </select>
        </div>
        <button  class=""  (click)="openDialog()">
          Create new job
        </button>
      </div>
    </div>
    <app-card class="card__Comp" *ngFor="let job of jobList | filterExample: searchText | filterByIndustry: searchText2 |filterBySector: searchText3; let i index" [data]='i'></app-card>
  </div>
</div>
